---
import BaseLayout from "@layouts/BaseLayout.astro";
// import { Image } from "astro:assets";
// import { Icon } from "astro-icon/components";
import LatestPosts from "@components/LatestPosts.astro";

const title = `About`;
const description = '';
---

<BaseLayout title={title} description={description}>
  <!-- Hero-->
  <div class="relative lg:sticky lg:top-28 lg:w-1/2">
    <div class="row gy-5 gx-4 pb-10">
      <header class="col-12">
        <a href={`/about/`} class="rounded-lg block overflow-hidden group">
          <!-- <Image src={import('/images/about.webp')} alt={title} class="group-hover:scale-[1.03] transition duration-300 w-full" /> -->
          <img src="/images/about.webp"alt={title} class="group-hover:scale-[1.03] transition duration-300 w-full" />
        </a>
        <h1 class="h1 mb-8 mt-3">
          <a href={`/about/`} class="block hover:text-primary transition duration-300">
            Hi, I&#39;m Damien—Your Fitness Trainer, Coach, and Writer
          </a>
        </h1>
      </header>
    </div>
  </div>

  <!-- About Articles-->
  <article class="mt-12 sm:mt-16 lg:ml-12 lg:mt-0 lg:w-1/2 xl:ml-16 py-10">
    <h2 class="h2 mb-2">My mission</h2>
    <p>To inspire and empower individuals on their journey to a healthier, happier life. I focus on overall well-being, not just appearances, and offer expert advice, motivation, and practical tips. My blog provides evidence-based information and personalized strategies while fostering a community passionate about health and wellness. Join me in making fitness a sustainable and enjoyable part of life.</p>
    <h3 class="h3 mt-6 mb-2">The end game</h3>
    <p>My purpose is to be more than just a fitness blog; I aim to leave a lasting, positive impact on my readers&#39; lives. I focus on inspiring and guiding individuals toward sustainable health and well-being, integrating healthy habits into daily routines. My goal is to help readers flourish and recognize the positive influence of my content. I strive to be a supportive partner in your lifelong wellness journey, making a meaningful difference in your life.</p>
    <h3 class="h3 mt-6 mb-2">Let&#39;s Connect!</h3>
    <p>I&#39;m excited to be a part of your fitness journey and look forward to supporting you in achieving your goals. Feel free to explore my blog, connect with me on social media, or reach out for a personalized training session. Together, we&#39;ll turn your health and fitness aspirations into reality.</p>
    <p>Thank you for visiting, and here&#39;s to a healthier, happier you!</p>
    <a href="/contact" class="btn btn-primary py-2 mt-8">Get In Touch</a>
  </article>
  <LatestPosts />
</BaseLayout>
