---
import TwSizeIndicator from "@components/TwSizeIndicator.astro";
import BaseHead from "@components/BaseHead.astro";
import Header from "@components/Header.astro";
import Footer from "@components/Footer.astro";
import "@styles/main.scss";

const { title, description } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={title} description={description} />
  </head>
  <body>
    <TwSizeIndicator />
    <Header />
    <main id="main" class="min-h-[60vh] bg-gray-50 dark:bg-zinc-800">
      <div class="mx-auto max-w-2xl px-4 sm:px-6 lg:flex lg:max-w-screen-2xl lg:items-start lg:px-8">
        <slot />
      </div>
    </main>
    <Footer />
  </body>
</html>

